---
import { Image } from 'astro:assets';
import { BenefitImageAnimation } from './BenefitImageAnimation';

interface Props {
  src: string;
  alt: string;
  width: number;
  height: number;
  srcset: string;
  sizes: string;
  loading?: 'eager' | 'lazy';
}

const { src, alt, width, height, srcset, sizes, loading = 'lazy' } = Astro.props;
---

<BenefitImageAnimation client:load>
  <div class="relative w-full h-full aspect-[3/4] sm:aspect-auto overflow-hidden rounded-2xl">
    <Image
      src={src}
      alt={alt}
      width={width}
      height={height}
      class="object-cover w-full h-full rounded-lg transform-gpu"
      loading={loading}
      srcset={srcset}
      sizes={sizes}
    />
  </div>
</BenefitImageAnimation>

<style>
  :global(.transform-gpu) {
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
  }
</style>