---
import '@/styles/globals.css'
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
}

const { 
  title,
  description = "Professional photo booth rentals with optional bartending services for your special events"
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
    
    <!-- Open Graph / Social Media Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    
    <!-- Add sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml">
  </head>
  <body class="antialiased">
    <Header />
    <slot />
    <Footer />
  </body>
</html> 